---
layout: default
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.jpg)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <h4> {{ site.author }} </h4>
                    <p>
                        Python DevOps currently working on <a href="http://aldryn.com" target="_blank">Aldryn</a>. Highly interested in containerisation and crypto currency.
                    </p>
                    <p>
                        <a href="https://twitter.com/AskChive" target="_blank">Follow me on Twitter</a>,
                        <a href="https://github.com/Chive" target="_blank">visit my GitHub</a> or
                        <script type="text/javascript">
                            //<![CDATA[
                            <!--
                            var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(92+y))" +
                            "y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\":(" +
                            "0<\\024\\010\\r\\rD\\003N\\037A\\022\\034\\n\\036M\\007C\\037LPQX\\032\\032" +
                            "J\\000W\\026\\036\\022\\032\\nh-n>ki=p``fn$u lxp`P{qsVl1v4-.7>\\035\\025\\0" +
                            "32\\n_QT^SQ\\001\\026T\\026B\\004\\r]\\tNWTBTP\\021_\\022G@CY/3j*y)kvs tv|v" +
                            "'b}x)<\\177h.y;1;)\\035)v6IZ\\037\\021\\001\\021\\023\\025\\006I\\005E\\037" +
                            "\\030\\014\\034\\004\\003ZCX\\032\\032^C\\004\\034S^TL9.Z,,\\014N\\\\^6=.b\\"+
                            "\"416RB\\tO0^Z9.\\016\\\"\\\\lZR+\\rN\\\\^E8/\\016\\\"\\\\65>Bb\\rw~wp$I\\0" +
                            "077q~:iB\\nc3*_zVZpo{}vI=ojmJ,\\014N\\\\^6?.b\\\"706RB\\rL0^Z>-\\016\\\"\\\\"+
                            "74>Bb+*J4<.b\\\"606RB\\016N0^Z?-\\016\\\"\\\\R0?.b\\\"RMB;.\\016\\\"\\\\46>" +
                            "BbJ12ZR*\\rN\\\\^0?.b\\\"406RB\\014L0^ZD)\\014N\\\\^2?.b\\\"426RBL\\\"\\\\(" +
                            ";<&b\\\\(d{5q\\036\\020rwrklCE)+-%g\\026 )k.z_[\\032oAtov]Px*cjq}\\014ajEcq" +
                            "L\\030.ehglJ-=)i5)\\014O='\\1775w\\003Uy+47#\\003\\027(dou7\\025Ui9j2w\\005" +
                            "N=k.|qXEhva`{RPx?j\\\"B\\034\\\"\\\"?i\\\"w\\036\\014at}'g\\022\\006(d&`qW\\"+
                            "nclsh<\\027\",92)"                                                           ;
                            while(x=eval(x));
                            //-->
                            //]]>
                        </script>
                    </p>
                </section>
            {% endif %}

            {% include share.html %}
            {% include disqus.html %}

        </footer>

    </article>

</main>
